<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/Yt-summary.css">
    <title>video</title>
</head>
<body>
    <form>
    <div class="container">
        
        <p class="heading" style="font-weight: bold;">Summarize YouTube Video</p><br>
        <div class="field1">
            <label>Enter YouTube Video URL:</label><br>
            <input type="url" name="url">
        </div>

        <div class="field2">
            <input type="button" name="Summarize" value="Summarize">
        </div>
    
    </div>
    </form>
</body>
</html>