body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  background-color: rgb(14, 17, 23);
}

h2 {
  text-align: center;
  color: whitesmoke;
  margin-top: 5%;
}

.text-container {
  max-width: 600px;
  margin: 0 auto;
}

.Upload {
  margin-bottom: 20px;
}

#result-container {
  display: none;
  color: whitesmoke;
  margin-top: 20px;
}

#drop-area {
  padding: 20px;
  color: whitesmoke;
  background-color: rgb(38, 39, 48);
  border-radius: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.browse-btn {
  background-color: rgb(14, 17, 23);
  color: whitesmoke;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 7%;
  margin-top: 10px;
}

.browse-btn:hover {
  background-color: rgb(29, 38, 57);
  border: 1px solid rgb(14, 17, 23);
}

.summarize-btn,
.speak-summary {
  background-color: rgb(38, 39, 48);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 15px;
}

.summarize-btn:hover,
.speak-summary:hover {
  background-color: rgb(29, 38, 57);
}

/* Sidebar styling */
.main-container {
  position: relative;
}

.side-bar {
  position: fixed;
  height: 100vh;
  width: 300px;
  left: -300px;
  background-color: rgb(38, 39, 48);
  transition: left 0.3s ease;
}

#check {
  display: none;
}

.btn-one i {
  color: whitesmoke;
  font-size: 20px;
  position: absolute;
  left: 16px;
  top: -25px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;
  z-index: 1;
}

.btn-two i {
  font-size: 20px;
  line-height: 1px;
  position: fixed;
  left: 260px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
  z-index: 1;
}

.btn-one i:hover {
  font-size: 24px;
}

#check:checked ~ .side-bar {
  left: 0px;
  top: 0px;
}

#check:checked ~ .btn-one i {
  opacity: 0;
}

#check:checked ~ .btn-two i {
  opacity: 1;
}

.msg {
  color: whitesmoke;
  margin: 120px 0px 6px 26px;
}

.dropdown {
  display: flex;
  justify-content: center;
}

.dropdown-list {
  background-color: rgb(14, 17, 23);
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  padding: 10px;
  cursor: pointer;
}

.dropdown-list:hover {
  background-color: rgb(38, 39, 48);
}

.dropdown-list option {
  background-color: rgb(14, 17, 23);
  color: whitesmoke;
  border-radius: 5px;
}

.dropdown-list option:hover {
  background-color: rgb(38, 39, 48);
}

.bordered-summary {
  border: 3px solid rgb(29, 38, 57);
  outline: none;
  padding: 10px;
  border-radius: 10px;
}

/* Loader Styles */
#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading img {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}

.blur {
  filter: blur(5px); /* Adjust blur intensity as needed */
}

@media only screen and (max-width: 768px) {
  .side-bar {
    left: -300px;
  }

  #check:checked ~ .side-bar {
    left: 0;
  }
  #drop-area {
    margin-left: 15px;
    margin-right: 15px;
  }

  .Upload {
    margin-left: 20px;
  }
  .summarize-btn {
    margin-left: 20px;
  }
  h3 {
    margin-left: 20px;
  }
  .bordered-summary {
    margin-left: 15px;
    margin-right: 15px;
  }
  .speak-summary {
    margin-left: 20px;
  }
}
.translate-summary {
  background-color: rgb(38, 39, 48);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 15px;
}

.translate-summary:hover {
  background-color: rgb(29, 38, 57);
}
