* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    background-color: rgb(14, 17, 23);
}

.main-container {
    position: relative;
}

.main-container .side-bar {
    position: fixed;
    height: 100vh;
    width: 300px;
    left: -300px;
    background-color: rgb(38, 39, 48);
    transition: left 0.3s ease;
}

#check {
    display: none;
}

.fa {
    color: whitesmoke;
}

.main-container .btn-one i {
    color: whitesmoke;
    font-size: 20px;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
    z-index: 1;
}

.main-container .btn-two i {
    font-size: 20px;
    line-height: 60px;
    position: absolute;
    left: 260px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;
    z-index: 1;
}

.btn-one i:hover {
    font-size: 24px;
}

#check:checked~.side-bar {
    left: 0px;
}

#check:checked~.btn-one i {
    opacity: 0;
}

#check:checked~.btn-two i {
    opacity: 1;
}

.msg {
    color: whitesmoke;
    margin: 120px 0px 6px 26px;
}

.dropdown {
    display: flex;
    justify-content: center;
}

.dropdown .dropdown-list {
    background-color: rgb(14, 17, 23);
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: 16px;
    /* Adjust font size as needed */
    outline: none;
    padding: 10px;
    cursor: pointer;
}

.dropdown .dropdown-list:hover {
    background-color: rgb(38, 39, 48);
}

.dropdown .dropdown-list option {
    background-color: rgb(14, 17, 23);
    color: whitesmoke;
    border-radius: 5px;
}

.dropdown .dropdown-list option:hover {
    background-color: rgb(38, 39, 48);
}

.main-content{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(14, 17, 23);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: whitesmoke;
    flex-direction: column;
}

.main-content #type {
    font-weight: bolder;
    font-size: 30px;
}

.main-content img {
    max-width: 100%; /* Make the image responsive */
    height: auto;
}

.main-content h1 {
    margin-top: 2%; /* Responsive margin */
    font-size: 2em; /* Responsive font size using em units */
}