/* Reset default margin, padding, font family, text color, and background color */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  background-color: rgb(14, 17, 23);
}

/* Heading 1 styling */
h1 {
  text-align: center;
  color: whitesmoke;
  margin-top: 5%;
}

/* Container for text input */
.text-input {
  max-width: 600px;
  margin: 0 auto;
}

/* Label styling */
label {
  display: block;
  margin-bottom: 5px;
  color: whitesmoke;
}

/* Textarea styling */
textarea {
  width: 95%;
  height: 100px;
  resize: none;
  box-sizing: border-box;
  padding: 8px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: rgb(38, 39, 48);
  color: whitesmoke;
  border-radius: 10px;
}

/* Button styling */
button {
  background-color: rgb(38, 39, 48);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 16px;
  border-radius: 10px;
}

/* Hover effect for button */
button:hover {
  background-color: rgb(29, 38, 57);
}

/* Border styling for result container */
.result-border {
  border: 3px solid rgb(29, 38, 57);
  outline: none;
  padding: 10px;
  border-radius: 10px;
}

/* Margin for result container */
#processedTextContainer {
  margin-bottom: 20px;
}

/* Loading spinner positioning */
#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading spinner image size */
#loading img {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}

/* CSS class for blurring the main content */
.blur {
  filter: blur(5px); /* Adjust blur intensity as needed */
}

/* Main container styling */
.main-container {
  display: flex;
}

/* Sidebar styling */
.main-container .side-bar {
  position: fixed;
  height: 100vh;
  width: 300px;
  left: -300px;
  background-color: rgb(38, 39, 48);
  transition: left 0.3s ease;
}

/* Hide checkbox input */
#check {
  display: none;
}

/* Font Awesome icon styling */
.fa {
  color: whitesmoke;
}

/* Toggle button styling */
.main-container .btn-one i {
  color: whitesmoke;
  font-size: 20px;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;
  z-index: 1;
}

.main-container .btn-two i {
  font-size: 20px;
  line-height: 60px;
  position: absolute;
  left: 260px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
  z-index: 1;
}

/* Hover effect for toggle button */
.btn-one i:hover {
  font-size: 24px;
}

/* Sidebar animation when checkbox is checked */
#check:checked ~ .side-bar {
  left: 0px;
}

#check:checked ~ .btn-one i {
  opacity: 0;
}

#check:checked ~ .btn-two i {
  opacity: 1;
}

/* Message styling */
.msg {
  color: whitesmoke;
  margin: 120px 0px 6px 26px;
}

/* Dropdown styling */
.dropdown {
  display: flex;
  justify-content: center;
}

.dropdown .dropdown-list {
  background-color: rgb(14, 17, 23);
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  padding: 10px;
  cursor: pointer;
}

.dropdown .dropdown-list:hover {
  background-color: rgb(38, 39, 48);
}

.dropdown .dropdown-list option {
  background-color: rgb(14, 17, 23);
  color: whitesmoke;
  border-radius: 5px;
}

.dropdown .dropdown-list option:hover {
  background-color: rgb(38, 39, 48);
}

/* Speak and Translate summary button styling */
.speak-summary,
.translate-summary {
  background-color: rgb(38, 39, 48);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 15px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  h1 {
    margin-top: 15%;
  }
  label {
    margin-left: 20px;
  }
  #inputTextarea {
    margin-left: 10px;
    margin-right: 10px;
    height: 170px;
  }
  button {
    margin-left: 20px;
  }
  h3 {
    margin-left: 20px;
  }
  #processedTextContainer {
    margin-left: 10px;
    margin-right: 10px;
  }
  h1 {
    margin-top: 10%;
  }
}
